# This is a config file comment
# This is the first key:val parl

# Interrogation window size in pixels
# interrogation_window_x:32
# interrogation_window_y:32

interrogation_window_x:16
interrogation_window_y:16

# Window Overlap in pixels
# window_overlap_x:16
# window_overlap_y:16

window_overlap_x:8
window_overlap_y:8

# Number of peaks to find in correlation function
num_ccf_peaks:3

# Maximum pixel displacements to search for
max_displacement_x:7
max_displacement_y:7
